In [1]:
import numpy as np
import pandas as pd

In [14]:
students = pd.read_csv('../data/Student.csv')

In [24]:
students.head()

,Student_ID,Institute_Category,Institute_location,hometown,Degree,Stream,Current_year,Year_of_graduation,Performance_PG,PG_scale,Performance_UG,UG_Scale,Performance_12th,Performance_10th,Experience_Type,Profile,Location,Start Date,End Date
0,7654321,Y,JADH,IIDB,B.Tech and M.Tech (Dual Degree),Mathematics & Computing,already a graduate,2012,8.5,10,8.6,10,86.2,91.6,job,Software Engineering,IJCE,18-06-2013,21-06-2014
1,7654321,Y,JADH,IIDB,B.Tech and M.Tech (Dual Degree),Mathematics & Computing,already a graduate,2012,8.5,10,8.6,10,86.2,91.6,job,Software Development,IIDB,01-07-2013,NaN
2,7668677,Y,JAHG,IJCE,MBA,BUSINESS MANAGEMENT,1,2016,60.0,100,60.5,100,81.6,90.3,job,Operations Process Consulting + Coding,IIBD,06-05-2013,13-06-2014
3,7668677,Y,JAHG,IJCE,MBA,BUSINESS MANAGEMENT,1,2016,60.0,100,60.5,100,81.6,90.3,job,Product Development,IIBD,08-08-2011,29-03-2013
4,7654322,Y,JACD,JDAE,B.Tech,Biotechnology,already a graduate,2012,0.0,10,7.1,10,87.0,88.0,internship,Research Intern,IIBD,02-06-2010,11-07-2010

In [22]:
def feature_engineer(df):
    df['num_experience'] = df.shape[0]
    df['num_exp_in_job'] = (df.Experience_Type  == 'job').sum()
    df['num_awards'] = (df.Experience_Type  == 'award').sum()
    df['num_previous_internships'] = (df.Experience_Type == 'internship').sum()
    
    return df

students_subset = students.head(20)
students_subset = students_subset.groupby(['Student_ID']).apply(feature_engineer)
students_subset = students_subset.groupby('Student_ID').first()

In [23]:
students_subset

,Institute_Category,Institute_location,hometown,Degree,Stream,Current_year,Year_of_graduation,Performance_PG,PG_scale,Performance_UG,...,Performance_10th,Experience_Type,Profile,Location,Start Date,End Date,num_experience,num_exp_in_job,num_awards,num_previous_internships
Student_ID,,,,,,,,,,,,,,,,,,,,,
7654321,Y,JADH,IIDB,B.Tech and M.Tech (Dual Degree),Mathematics & Computing,already a graduate,2012,8.5,10,8.60,...,91.60,job,Software Engineering,IJCE,18-06-2013,21-06-2014,2,2,0,0
7654322,Y,JACD,JDAE,B.Tech,Biotechnology,already a graduate,2012,0.0,10,7.10,...,88.00,internship,Research Intern,IIBD,02-06-2010,11-07-2010,1,0,0,1
7661562,Y,JDDH,JEEH,B.Tech,Electrical and Electronics Engineering,4,2013,0.0,10,3.33,...,91.20,NaN,NaN,IIGB,NaN,NaN,1,0,0,0
7668677,Y,JAHG,IJCE,MBA,BUSINESS MANAGEMENT,1,2016,60.0,100,60.50,...,90.30,job,Operations Process Consulting + Coding,IIBD,06-05-2013,13-06-2014,2,2,0,0
7668678,N,IIBD,IIBD,B.E,Biomedical Engineering,already a graduate,2012,0.0,10,80.56,...,89.00,NaN,NaN,IIGB,NaN,NaN,1,0,0,0
7690367,N,IJCE,JABH,Post Graduate Dimploma in Management,Mathematics,already a graduate,2009,60.0,100,64.00,...,79.00,NaN,NaN,IIGB,NaN,NaN,1,0,0,0
7697727,Y,JEGH,IJII,B.Tech,Mechanical Engineering,already a graduate,2012,8.5,10,5.68,...,89.80,job,Aptitude Trainer,IIGA,04-04-2013,01-08-2013,10,1,6,1
78654321,N,IIIA,JAAJ,B.E,Mechanical Engineering,4,2013,0.0,10,6.10,...,93.00,NaN,NaN,IIGB,NaN,NaN,1,0,0,0
78654322,N,IIBD,IIBD,B.E,Industrial & Production Engineering,4,2013,0.0,10,8.66,...,93.12,academic_project,NaN,IIBD,03-09-2012,24-05-2013,1,0,0,0

In [18]:
students.Experience_Type.value_counts()

internship          22628
academic_project    21666
por                 15154
award               14602
training            14593
participation       11567
workshop            10001
job                  8164
other                1937
Name: Experience_Type, dtype: int64

In [17]:
(students.Experience_Type == 'job').sum

0          True
1          True
2          True
3          True
4         False
5         False
6         False
7         False
8         False
9         False
10         True
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
151161    False
151162    False
151163    False
151164     True
151165    False
151166    False
151167    False
151168    False
151169    False
151170     True
151171    False
151172    False
151173    False
151174    False
151175    False
151176    False
151177    False
151178    False
151179    False
151180    False
151181    False
151182     True
151183    False
151184    False
151185    False
151186    False
151187    False
151188    False
151189    False
151190    False
Name: Experience_Type, dtype: bool